body{
    margin: auto;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(./cool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.headword{
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.firstwords{
    margin-top: 30px;
    width: 600px;
    height: 400px;
    background-image: url(./coolbackground.jpg);
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
#ab{
    background-color: rgba(190, 150, 150, 0.8);
    color: black;
}
#ac{background-color: rgba(190, 150, 150, 0.8);
    color: black;
}
.word{
    font-size: 45px;
    font-weight:500;
    text-align: center;
    display: none;
}
.containerAll{
    display: none;
    background-color: rgb(254, 254, 254);
    border-radius: 10px 10px 0 0;
    margin-top: 80px;
    flex-flow: column;
    width: 600px;
    height: 400px;
    background-image: url(./snow\ background.jpg);
    background-size: cover;  
}
a{
    text-decoration: none;
   
    color:white;
    height: 30px;
    width: 120px;
    
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
}
.countdown{
    margin-top: 50px;
    display: flex;
    align-self: center;
}
.counts{
    width: 100px;
    height: 100px;
    color: black;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 4px;
    box-shadow: rgba(190, 150, 150, 0.8) 1px 4px 1px ;
}
.value{
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}
.topimage{
    height: 50px;
    border-radius: 25%;
}
.head{
    background-color: black;
    font-size: small;
    text-align: center;
    font-weight: 800;
    color: white;
    padding: 2px;

}
.underhold{
    display: flex;
    align-items: flex-end;
}
.shower{
    width: 10;
}
.vatican{
    margin:10px;
}
.vatican> img{
width: 100px;
height:100px;
}
.home >img{
    width: 100px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: black;
    color: white;
    width: 600px;
    height: 100px;
    font-size: 12px;
    border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 490px){
.containerAll{
    width:100%;
    height: 270px;
    margin-top:10px;
}
.firstwords{
    height: 300px;
    width:100%;
    background-size: 100%, 300px;
    background-repeat: round;
    margin-top: 10px;
}
#ac{
    font-size: larger;
}
.headword{
    font-size:15px;
}
.counts{
    width: 60px;
    height: 60px;
    color: black;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 4px;
}
.value{
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
}
.topimage{
    height: 40px;
    border-radius: 40%;
}
.head{
    background-color: black;
    text-align: center;
    font-weight: 600;
    color: white;
    padding: 2px;
}
.footer{
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    max-width: 100%;
    flex-direction: column;
    padding: 10px;
    font-size: x-small;
}
.ft{
    display: flex;
    justify-content: space-between;
}
}